<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SonyOps tenant Automated Test Cases">

<listeners>
<listener  class-name= "com.qa.sonyops.ExtentReportListener.ExtentReporterNG"  />
</listeners>


<test name="SonyOps Test cases">
     <classes>
         <class name= "com.qa.sonyops.testcases.LoginPageCETest">  </class>
         <class name= "com.qa.sonyops.testcases.HomePageCETest">  </class>
         <class name= "com.qa.sonyops.testcases.LoginPageTest">  </class>
         <class name= "com.qa.sonyops.testcases.HomePageTest">  </class>
         <class name= "com.qa.sonyops.testcases.CatalogPageTest">  </class>
         <class name= "com.qa.sonyops.testcases.CatalogPlayerPageTest">  </class>
         <class name= "com.qa.sonyops.testcases.CatalogManagerPageTest">  </class>
         <class name= "com.qa.sonyops.testcases.SearchLibraryPageTest">  </class>
         <class name= "com.qa.sonyops.testcases.OpsPageTest">  </class>
         <class name= "com.qa.sonyops.testcases.SmarttaskerPageTest">  </class>
    </classes>
  </test> 
</suite>